.capture-button {
  z-index: 1;
  /* Border */
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;

  /* as container */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 2px;
  padding: 6px 6px;

  width: 250px;
  height: 30px;
}

.wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

.button_wrapper {
  width: 500px;
  display: inline-flex;
  flex-direction: row;
}