.capture-button {
  z-index: 1;
  /* Border */
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;

  /* as container */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 2px;
  padding: 6px 6px;

  width: 250px;
  height: 30px;
}

.capture-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

.button_wrapper {
  width: 500px;
  display: inline-flex;
  flex-direction: row;
}

.master-wrapper {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.lights-control-wrapper {
  font-size: 20px;
  padding-bottom: 33px;
  display: flex;
  align-items: center;
}

.light-button {
  width: 100px;
}

.light-temp-wrapper {
  display: flex;
  justify-content: space-around;
  width: 400px;
}

.temp-selected {
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
}

.white-background {
  position: relative;
  left: 0px;
  top: -250px;
  height: 110vh;
  width: 100vw;
  border: 1px solid #ffffff;
  background: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.countdown-left {
  font-size: 300px;
  color: white;
  margin-right: 400px;
}

.countdown-right {
  font-size: 300px;
  color: white;
  margin-left: 400px;
}

.light-temp-button {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.light-temp-image {
  width: 50px;
  height: 50px;
}

.arrows {
  font-size: 300px;
  color: white;
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 10vh;
}

.arrow {
  margin-top: 0px;
  margin-right: 100px;
  margin-left: 100px;
  top: 10vh;
}